# Bu dosyayi kopyalayip ".env" olarak kaydedin ve degerlerini doldurun.
# Bu dosya backend/ klasorune koyulmalidir.

DB_HOST=diger_pc_ip_adresi    # Ornek: 192.168.1.105
DB_USER=root
DB_PASS=sifreniz
DB_NAME=bostanhub

PORT=5000

# Resend API Key
# Gunluk 100 email ucretsiz
RESEND_API_KEY=re_RrBoYhDK_Bs362tDR7jwFyfSNoV5DWPKk

# JWT Secret (güçlü rastgele string)
JWT_SECRET=GUCLU_RASTGELE_ANAHTAR_BURAYA

# Panel API Ayarları (Lisans Kontrolü İçin)
PANEL_API_URL=https://panel.guzelteknoloji.com
PANEL_API_KEY=PANEL_TARAFINDAN_VERILEN_API_KEY
BOSTAN_DOMAIN=bostan.guzelteknoloji.com
BOSTAN_URUN_ADI=Bostan
